<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-nav">
            <a routerLink="/" class="nav-item nav-link active" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
        </div>
        
        <div class="navbar-nav ms-auto">
            <a routerLink="/listar-tarea" class="nav-item nav-link">Listar tareas</a>
            <a routerLink="/agregar-tarea" class="nav-item nav-link">Agregar tarea</a>
        </div>
    </div>
  </nav>